:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 240);
  --cardBG: rgb(225, 225, 225);
  --cardHover: rgb(225, 255, 255);
}

.main {
  width: 100%;
}
.main .secTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}
.main .secTitle .title {
  position: relative;
  width: 100%;
  color: var(--textColor);
  margin: 0rem 0;
  z-index: 2;
  text-align: center;
}
.main .secTitle .title::after {
  position: absolute;
  content: "";
  background: var(--gradientColor);
  height: 3px;
  width: 120px;
  right: 0;
  bottom: 6px;
  z-index: -1;
}
.main .secTitle .smallText {
  font-size: 13px;
  text-transform: uppercase;
}
.main .secContent {
  justify-content: center;
  gap: 1.5rem;
}
.main .secContent .optionSelection {
  height: 100%;
  width: 100%;
  display: flex;
  row-gap: 10px;
  padding: 20px 20px;
  border-radius: 10px;
  justify-content: space-between;
  background: var(--cardBG);
  box-shadow: 0 2px 4px rgba(140, 140, 141, 0.549);
  overflow: hidden;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}
.main .secContent .optionSelection .radioSec {
  display: flex;
  align-items: center;
  color: var(--textColor);
}
.main .secContent .optionSelection .radioSec .radioInp {
  padding-right: 13px;
}
.main .secContent .optionSelection .switchSection {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  color: var(--textColor);
  font-weight: 200;
  font-size: 20px;
}
.main .secContent .optionSelection .switchSection .usdlabel {
  padding: 0 6px;
}
.main .secContent .singleDestination {
  height: 100%;
  display: flex;
  row-gap: 10px;
  padding: 40px 20px;
  border-radius: 10px;
  align-items: center;
  background: var(--cardBG);
  box-shadow: 0 2px 4px rgba(140, 140, 141, 0.549);
  overflow: hidden;
  flex-direction: column;
}
.main .secContent .singleDestination:hover {
  background: var(--cardHover);
  box-shadow: 1 4px 4px rgba(85, 85, 114, 0.549);
  transition: 0.3s ease;
}
.main .secContent .singleDestination .imageDiv {
  height: 180px;
  width: 100%;
  overflow: hidden;
}
.main .secContent .singleDestination .imageDiv img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 2s ease;
}
.main .secContent .singleDestination .imageDiv:hover img {
  transform: scale(1.1);
}
.main .secContent .singleDestination .recicon {
  flex-direction: column;
  align-items: center;
  display: flex;
}
.main .secContent .singleDestination .recicon .icon {
  font-size: 100px;
  color: var(--PrimaryColor);
}
.main .secContent .singleDestination .cardInfo {
  padding: 1rem;
}
.main .secContent .singleDestination .cardInfo .destTitle {
  color: var(--blackColor);
  font-size: 1.25rem;
}
.main .secContent .singleDestination .cardInfo .continent {
  gap: 0.5rem;
}
.main .secContent .singleDestination .cardInfo .continent .icon {
  color: var(--textColor);
  font-size: 18px;
}
.main .secContent .singleDestination .cardInfo .continent .name {
  color: var(--textColor);
  font-weight: 400;
  font-size: 14px;
}
.main .secContent .singleDestination .cardInfo .cardHeading {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  flex-direction: column;
  align-items: center;
  display: flex;
  border-bottom: 1.5px solid var(--greyText);
}
.main .secContent .singleDestination .cardInfo .cardHeading .grade {
  color: var(--textColor);
  max-width: 100%;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.main .secContent .singleDestination .cardInfo .cardHeading .grade small {
  text-align: center;
  background: var(--gradientColor);
  border-radius: 1rem;
  color: var(--whiteColor);
  padding: 1px 10px;
  font-size: 10px;
}
.main .secContent .singleDestination .cardInfo .cardHeading .price {
  font-size: 2rem;
  color: var(--blackColor);
}
.main .secContent .singleDestination .cardInfo .desc {
  font-size: 13.5px;
  color: var(--textColor);
  font-weight: 500;
  text-align: center;
}
.main .secContent .singleDestination .cardInfo .btn-cus {
  margin-top: 1rem;
  color: var(--whiteColor);
  font-weight: 600;
  justify-content: space-between;
  gap: 0.5rem;
}
.main .secContent .singleDestination .cardInfo .btn-cus .icon {
  align-self: center;
  font-size: 18px;
}

@media screen and (min-width: 500px) {
  .title {
    font-size: 1.5rem;
  }
  .title::after {
    width: 155px !important;
  }
  .secContent {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 840px) {
  .main {
    padding-left: 13rem;
    padding-right: 13rem;
  }
  .main .secContent {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 840px) {
  .main {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .main .secContent {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 960px) {
  .main {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
@media screen and (min-width: 1240px) {
  .main {
    padding-left: 9rem;
    padding-right: 9rem;
  }
}/*# sourceMappingURL=main.css.map */